nav.navbar.navbar-inverse.navbar-fixed-top
  div.container
  .navbar-header
   button.navbar-toogle.collapse(type='button', data-toggle= 'collapse', data-target='#navcol-1', aria-expanded='false', aria-controls='navbar')
   a.navbar-brand(href='#') Posgrados
  #navbar.collapse.navbar-collapse
   ul.nav.navbar-nav
    li.active
     a(href='/') Inicio
    li
     a(href='/users') Usuario
    li
     a(href='/contact') Contacto
