extends layout

block content
	table.table.table-hover
		h1 Usuarios
		thead(tablle='')
			tr
				th Nombre
				th Apellido
				th Rol
		tbody(table='')
			tr
				td lau
				td guti
				td estudiante
			tr
				td tomas
				td guti
				td perro

	